{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
